# Frontend
FRONTEND_PORT=3001

# Backend
EXTERNAL_HOST=localhost
EXTERNAL_SCHEME=http
USE_SSL=false

# MinIO
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
